<a href="https://colab.research.google.com/github/KhethiweDlamini/preply-data-science/blob/main/python-basics/python_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Types

In this notebook, we will explore the four main groups of data types used in Python üêç. These are:
1. Numeric data types
2. Boolean data types
3. String data types
4. Sequence data types

## **Numeric Data Types**
Numeric data types can either be of type integer (int), i.e., negative and positive whole numbers as well as zero. Or, they can be of type float, in which case numerical values can include decimals.

In [ ]:
a = 10
type(a)

int

In [ ]:
b = 2.54
type(b)

float